{% include "header.html" %}

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/html">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Sushmit Vats</title>-->
<!--  &lt;!&ndash;  google font&ndash;&gt;-->
<!--  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">-->
<!--  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;900&family=Ubuntu&display=swap" rel="stylesheet">-->
<!--  &lt;!&ndash;  bootstrap icon&ndash;&gt;-->
<!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">-->

<!--&lt;!&ndash;  bootstrap script&ndash;&gt;-->
<!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">-->
<!--  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>-->
<!--  <link rel="stylesheet" href="/static/css/styles.css">-->

<!--    &lt;!&ndash; Bootstrap javascript &ndash;&gt;-->
<!--  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>-->


<!--</head>-->
<!--<body>-->
<!--  &lt;!&ndash; Navigation &ndash;&gt;-->
<!--  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">-->
<!--    <div class="container">-->
<!--    <a href="#">-->
<!--        <img src="/static/images/S1.gif" id="logo">-->
<!--      </a>-->
<!--&lt;!&ndash;      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">&ndash;&gt;-->
<!--&lt;!&ndash;        Menu&ndash;&gt;-->
<!--&lt;!&ndash;        <i class="fas fa-bars"></i>&ndash;&gt;-->
<!--&lt;!&ndash;      </button>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="collapse navbar-collapse" id="navbarResponsive">&ndash;&gt;-->
<!--      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->

<!--      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">-->
<!--        <ul class="navbar-nav ms-auto">-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Home</a>-->
<!--          </li>-->

<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">About</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Contact</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->


<section id="title">
<div class="top-container">
<img class="top-cloud" src="/static/images/cloud.png">
<h1>I'm Sushmit Vats</h1>
<h2>a programmer</h2>
<img class="bottom-cloud" src="/static/images/cloud.png">
<img src="/static/images/mountain.png">
</div>
</section>


<section id="welcome" >
<div class="middle-container">
  <div class="profile">
    <div class="row">
      <div class="col-lg-6 intro">
            <h2>Hello.</h2>
            <p>I am a Mechanical Engineer, designer and developer.</p>
      </div>
      <div class="col-lg-6">
        <img src="/static/images/profilepic.JPG" id="profile-pic">
      </div>
    </div>
    </div>
  </div>
</section>



 <section id="info">
  <div class="skills">


      <div class="row">
      <div class="col-lg-6">
        <img class="coding" src="/static/images/resume-icon.png" alt="">
      </div>
      <div class="col-lg-6">
     <h3>Python</h3>
      <p class="codes"> I  have knowledge in coding and master python language. I also make some popular game such as snake game, Hangman etc. I have also knowledge of web development.</p>
    </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-6">
        <h3>Designing</h3>
      <p class="cad">I am a mechanical engineer and have the skills of CAD software like AutoCad, solidworks.</p>
    </div>
      <div class="col-lg-6">
      <img class="autocad" src="https://media4.giphy.com/media/e6MP1UUW4g4Zhk1sqf/200w.webp?cid=ecf05e47kct7ujkfbag0ducrbne6des8q2162a1h5qgpie81&rid=200w.webp&ct=s" alt="">
      </div>

    </div>
  </div>
 </section>

    <!-- Contact me -->

  <section id="contact">

    <div id="f1_container">
      <div id="f1_card">

        <div class="front face">
          <div class="green-circle contact-circle shadow">
            <h2 class="contact-title hide">Contact Me</h2>
          </div>
        </div>

        <div class="back face center">
          <div class="green-circle contact-circle shadow">
            <div class="contact-text">

              <div class="popup" onclick="popupFunc()">
                <p onclick="copyEmail()" class="show-email-text">Sushmitvats98@gmail.com</p>

              </div>

              <p><a href="https://www.linkedin.com/in/sushmit-vats-8882541b3/" target="_blank" rel="noopener noreferrer">LinkedIn</a></p>
              <p><a href="https://github.com/sushmitvats07" target="_blank" rel="noopener noreferrer">GitHub</a></p>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>


    <!-- Footer -->

  <footer class="grey-box">
    <div class="container-fluid copyright-strip">

      <p>Copyright © Sushmit Vats 2022</p>
      <p>Built from scratch - Find the code on <a href="https://github.com/tashramsden/Tash_Ramsden" target="_blank" rel="noopener noreferrer" style="color: #a9bf04">GitHub</a> - I'd love to hear feedback</p>

    </div>
  </footer>


<!--  &lt;!&ndash; Bootstrap core JavaScript &ndash;&gt;-->
<!--  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>-->
<!--  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>-->

<!--  &lt;!&ndash; Custom scripts for this template &ndash;&gt;-->
<!--  <script src="{{ url_for('static', filename='js/clean-blog.min.js')}}"></script>-->

</body>
</html>
